/* Main.css */
.main-container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    gap: 20px;
    justify-items: center; /* Выровнять по центру */
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button a {
    color: white;
    text-decoration: none;
  }
  